<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
<script src="/app/assets/js/bootstrap.min.js"></script>
<script src="/app/assets/js/scripts.js"></script>
{% if section == 'log' %}<script src="/app/assets/js/log.js"></script>{% endif %}
<script>
    $(function(){
        //Setting current page in main menu
        $(".main-menu .{{ section }}").addClass("active");
    });
</script>
</body>
</html>