<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="/app/assets/js/bootstrap.min.js"></script>
<script src="/app/assets/js/scripts.js"></script>
<script>
$(function() {
$(".main-menu .{{ section }}").addClass("active");
});
</script>
</body>
</html>