<html>
<head>
    <title>BLE Server</title>
    <link rel="stylesheet" href="/app/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/app/assets/css/style.css">
</head>
<body class="{{ section }}">