<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Module #1
            </a>
            <input id="test1checkbox" checked="true" type="checkbox">
        </div>
        <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas.</p>

                <p><strong>Test date:</strong> 12-12-12 12:12</p>

                <p><strong>Status: <span class="label label-success">completed</span></strong></p>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Module #2
            </a>
            <input id="test2checkbox" checked="true" type="checkbox">
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas.</p>

                <p><strong>Test date:</strong> 12-12-12 14:12</p>

                <p><strong>Status: <span class="label label-warning">processing</span></strong></p></div>
        </div>
    </div>
</div>