{% include 'parts/header.twig' %}
<div class="container-fluid">
    <div id="banner"><div class="container"><h1>Error {{ error.code }}: {{ error.message }}</h1></div></div>
    <div class="row-fluid">
        <div class="span3">
            <!--Sidebar content-->
        </div>
        <div class="span9">
            <!--Body content-->
        </div>
    </div>
</div>
{% include 'parts/footer.twig' %}