{% include 'parts/header.twig' %}
<div class="container">
    <h1>Welcome to BLEserver</h1>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Registered users</h2>
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">{{ user.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Registered clients</h2>
            <ul class="list-group">
                {% for client in clients %}
                    <li class="list-group-item">{{ client.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Access Tokens</h2>
            <ul class="list-group">
                {% for token in tokens %}
                    <li class="list-group-item">{{ token.value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include 'parts/footer.twig' %}